#academy {
    .sub__ttl {
        padding: 15px;
        margin-bottom: 40px;
        width: 100%;
        border-radius: 6px;
        color: #FFF;
        background-color: #151A59;
        font-size: 20px;
        line-height: 1;
        box-sizing: border-box;
    }
    .profile {
        margin: 30px auto 60px;
        width: 100%;
        max-width: 600px;
        p {
            margin-top: 30px;
        }
    }
    .place {
        width: 100%;
        tr {
            border-bottom: solid 1px #A5A5A5;
        }
        th {
            padding: 15px 0;
            width: 190px;
            font-weight: bold;
            vertical-align: top;
        }
        td {
            display: block;
            margin: 15px 0;
            font-size: 16px;
            a {
                display: block;
                color: #E95383;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                transition: 0.6s;
                &:hover {
                    text-decoration: none;
                    transition: 0.6s;
                }
            }
        }
    }
}