@charset "UTF-8";
/*
============== index ===================
format
font
link
hack
=========================================
*/
/*****************************************
=1.reset
**************************************** */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP:wght@500&family=Oswald&display=swap");
body, div,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote,
th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, figcaption {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, th, td {
  font-weight: normal;
  color: #000000;
}

q:before, q:after {
  content: ‘’;
}

abbr, acronym {
  border: 0;
}

hr {
  display: none;
}

img {
  vertical-align: bottom;
  border: none;
}

caption {
  display: none;
}

legend {
  display: none;
}

label {
  cursor: pointer;
}

figure {
  padding: 0;
  margin: 0;
  border: 0;
}

/*****************************************
=2.modules
**************************************** */
.none {
  display: none;
}

/* float clear
---------------------------------------- */
.cL {
  clear: left;
}

.cR {
  clear: right;
}

.cB {
  clear: both;
}

/* float
---------------------------------------- */
.fL {
  float: left;
}

.fR {
  float: right;
}

/* align
---------------------------------------- */
.aL {
  text-align: left !important;
}

.aC {
  text-align: center !important;
}

.aR {
  text-align: right !important;
}

.fB {
  font-weight: bold;
}

.fS {
  font-size: 87%;
}

/* last list
---------------------------------------- */
.lastList {
  background: none !important;
  border: none !important;
  margin-right: 0 !important;
  padding-right: 0;
}

.lastList02 {
  border: none !important;
  margin-right: 0 !important;
  padding-right: 0;
}

.textBorderLine {
  text-decoration: underline;
}

.tA {
  color: #cc3333;
  font-weight: bold;
}

a.imgBtn:hover img {
  opacity: 0.70;
  filter: alpha(opacity=70);
}

.acList {
  position: relative;
  overflow: hidden;
}

.acList :after {
  content: "";
  clear: both;
  display: block;
}

.acList ul {
  position: relative;
  left: 50%;
  float: left;
}

.acList li {
  position: relative;
  left: -50%;
  float: left;
}

.bS {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*****************************************
=3.margin padding
**************************************** */
/* margin
---------------------------------------- */
.mT00 {
  margin-top: 0   !important;
}

.mT05 {
  margin-top: 5px !important;
}

.mT10 {
  margin-top: 10px !important;
}

.mT15 {
  margin-top: 15px !important;
}

.mT20 {
  margin-top: 20px !important;
}

.mT25 {
  margin-top: 25px !important;
}

.mT30 {
  margin-top: 30px !important;
}

.mT35 {
  margin-top: 35px !important;
}

.mT40 {
  margin-top: 40px !important;
}

.mT45 {
  margin-top: 45px !important;
}

.mT50 {
  margin-top: 50px !important;
}

.mR00 {
  margin-right: 0   !important;
}

.mR05 {
  margin-right: 5px !important;
}

.mR10 {
  margin-right: 10px !important;
}

.mR15 {
  margin-right: 15px !important;
}

.mR20 {
  margin-right: 20px !important;
}

.mR25 {
  margin-right: 25px !important;
}

.mR30 {
  margin-right: 30px !important;
}

.mR35 {
  margin-right: 35px !important;
}

.mR40 {
  margin-right: 40px !important;
}

.mR45 {
  margin-right: 45px !important;
}

.mR50 {
  margin-right: 50px !important;
}

.mB00 {
  margin-bottom: 0   !important;
}

.mB05 {
  margin-bottom: 5px !important;
}

.mB10 {
  margin-bottom: 10px !important;
}

.mB15 {
  margin-bottom: 15px !important;
}

.mB20 {
  margin-bottom: 20px !important;
}

.mB25 {
  margin-bottom: 25px !important;
}

.mB30 {
  margin-bottom: 30px !important;
}

.mB35 {
  margin-bottom: 35px !important;
}

.mB40 {
  margin-bottom: 40px !important;
}

.mB45 {
  margin-bottom: 45px !important;
}

.mB50 {
  margin-bottom: 50px !important;
}

.mB60 {
  margin-bottom: 60px !important;
}

.mL00 {
  margin-left: 0   !important;
}

.mL05 {
  margin-left: 5px !important;
}

.mL10 {
  margin-left: 10px !important;
}

.mL15 {
  margin-left: 15px !important;
}

.mL20 {
  margin-left: 20px !important;
}

.mL25 {
  margin-left: 25px !important;
}

.mL30 {
  margin-left: 30px !important;
}

.mL35 {
  margin-left: 35px !important;
}

.mL40 {
  margin-left: 40px !important;
}

.mL45 {
  margin-left: 45px !important;
}

.mL50 {
  margin-left: 50px !important;
}

/* padding
---------------------------------------- */
.pT00 {
  padding-top: 0   !important;
}

.pT05 {
  padding-top: 5px !important;
}

.pT10 {
  padding-top: 10px !important;
}

.pT15 {
  padding-top: 15px !important;
}

.pT20 {
  padding-top: 20px !important;
}

.pT25 {
  padding-top: 25px !important;
}

.pT30 {
  padding-top: 30px !important;
}

.pT35 {
  padding-top: 35px !important;
}

.pT40 {
  padding-top: 40px !important;
}

.pT45 {
  padding-top: 45px !important;
}

.pT50 {
  padding-top: 50px !important;
}

.pR00 {
  padding-right: 0   !important;
}

.pR05 {
  padding-right: 5px !important;
}

.pR10 {
  padding-right: 10px !important;
}

.pR15 {
  padding-right: 15px !important;
}

.pR20 {
  padding-right: 20px !important;
}

.pR25 {
  padding-right: 25px !important;
}

.pR30 {
  padding-right: 30px !important;
}

.pR35 {
  padding-right: 35px !important;
}

.pR40 {
  padding-right: 40px !important;
}

.pR45 {
  padding-right: 45px !important;
}

.pR50 {
  padding-right: 50px !important;
}

.pB00 {
  padding-bottom: 0   !important;
}

.pB05 {
  padding-bottom: 5px !important;
}

.pB10 {
  padding-bottom: 10px !important;
}

.pB15 {
  padding-bottom: 15px !important;
}

.pB20 {
  padding-bottom: 20px !important;
}

.pB25 {
  padding-bottom: 25px !important;
}

.pB30 {
  padding-bottom: 30px !important;
}

.pB35 {
  padding-bottom: 35px !important;
}

.pB40 {
  padding-bottom: 40px !important;
}

.pB45 {
  padding-bottom: 45px !important;
}

.pB50 {
  padding-bottom: 50px !important;
}

.pL00 {
  padding-left: 0   !important;
}

.pL05 {
  padding-left: 5px !important;
}

.pL10 {
  padding-left: 10px !important;
}

.pL15 {
  padding-left: 15px !important;
}

.pL20 {
  padding-left: 20px !important;
}

.pL25 {
  padding-left: 25px !important;
}

.pL30 {
  padding-left: 30px !important;
}

.pL35 {
  padding-left: 35px !important;
}

.pL40 {
  padding-left: 40px !important;
}

.pL45 {
  padding-left: 45px !important;
}

.pL50 {
  padding-left: 50px !important;
}

/*****************************************
=4.hack
**************************************** */
div {
  zoom: 1;
  /*for IE 5.5-7*/
}

.clearfix:after {
  content: “”;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
/* IE6 */
* html .clearfix {
  zoom: 1;
}

/* IE7 */
*:first-child + html .clearfix {
  zoom: 1;
}

/*****************************************
=5.font
**************************************** */
p, li, dt, dd, th, td, figcaption {
  font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  clear: both;
  font-family: “ヒラギノ角ゴ Pro W3”,“メイリオ“,”Meiryo”,“ＭＳ Ｐゴシック“,”Hiragino Kaku Gothic Pro”,sans-serif;
}

* {
  color: #333;
  font-family: "ヒラギノ角ゴシックPro",'Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

p {
  text-align: justify;
}

.color-w {
  color: #fff;
}

img {
  width: 100%;
}

.bread {
  width: 100%;
  background-color: #F4F4F4;
}

.bread__menu {
  padding: 10px 0 10px 15px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1000px;
}

.bread__list {
  display: inline;
  font-size: 11px;
}

.bread__list::after {
  content: '>';
  margin: 0 15px;
}

.bread__list:last-child::after {
  content: '';
}

.bread__link {
  display: inline-block;
  font-size: 11px;
}

a {
  display: none;
  text-decoration: none;
  text-decoration-skip-ink: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

a:hover {
  text-decoration: underline;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

/*ボタンのcss基本指示*/
.buttonBase, .button, .button--sponser, .button--result {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin-left: auto;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buttonLinkBase, .button__link, .button__link--result {
  display: inline-block;
  padding: 11px 0;
  width: 100%;
  text-align: center;
}

.top-space, .button--sponser, .button--result {
  top: 30px;
}

/*ボタンのcss指示*/
.button {
  border: solid 2px #333;
}

.button--sponser {
  border: solid 2px #333;
}

.button--result {
  border: solid 2px #fff;
}

.button__link--result {
  color: #fff;
}

.wrap {
  position: relative;
  margin: 0 auto 60px;
  width: 100%;
  max-width: 1000px;
}

.wrap--bg {
  width: 100%;
  margin: 0 auto 60px;
}

.wrap--bg:last-child {
  margin-bottom: 0;
}

.block__ttl {
  display: inline-block;
  margin-bottom: 50px;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
}

.block__ttl span {
  padding-left: 30px;
  font-weight: bold;
}

.banner__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.banner__list {
  margin: 0 auto;
  width: 100%;
}

.banner__list--alert {
  margin: 0 auto;
  width: 470px;
}

.banner__list--member {
  width: 490px;
}

.bg-g {
  background-color: #f4f4f4;
}

.header {
  width: 100%;
  background-color: #151a59;
}

.header__box {
  position: relative;
  padding: 5px 0;
  margin: 0 auto;
  max-width: 1000px;
  height: 110px;
}

.header__ttl {
  margin: 0 auto;
  width: 100px;
}

.header__row {
  position: absolute;
  top: 50%;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__row::after {
  content: "";
  display: block;
  clear: both;
}

.header__logo {
  width: 40px;
}

.header__nav {
  width: 100%;
  background-color: #fff;
  border-top: solid 6px #E95383;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 15px 0 13px;
  margin: 0 auto;
  max-width: 1000px;
}

.header a {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.header a span {
  display: block;
  margin-bottom: -10px;
  text-align: center;
  font-size: 10px;
}

.footer {
  padding: 40px 0 20px;
  width: 100%;
  background-color: #151a59;
}

.footer__nav {
  margin: 0 auto 15px;
  width: 500px;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list::after {
  content: "|";
  margin: 0 5px;
  color: #fff;
}

.footer__list a {
  display: inline;
}

.footer__link {
  color: #fff;
  font-size: 13px;
}

.footer p {
  text-align: center;
}

.footer p small {
  color: #b6b6b6;
  font-size: 12px;
}

#top .fv {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#top .topic__menu {
  margin-bottom: 90px;
  width: 100%;
}

#top .topic__list {
  border-bottom: solid 1px #333;
}

#top .topic__list time {
  display: inline-block;
  width: 100px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
}

#top .topic__list span {
  display: inline-block;
  padding: 3px 0;
  margin: 0 40px 0 20px;
  width: 120px;
  height: 20px;
  color: #fff;
  background-color: #151a59;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  border-radius: 3px;
}

#top .topic__link {
  display: inline-block;
  padding: 15px 0;
  width: 720px;
  background-image: url(../img/ico_arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
}

#top .bg-result {
  background-image: url(../img/bgi_top_result.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#top .result {
  position: relative;
  padding: 30px 0 50px;
  margin: 0 auto;
  max-width: 1000px;
}

#top .match {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 15px;
  width: 100%;
  background-color: #fff;
}

#top .match__team {
  width: 300px;
}

#top .match__logo {
  margin: 0 auto 10px;
  width: 190px;
}

#top .match__txt {
  text-align: center;
  font-weight: bold;
}

#top .score time {
  display: inline-block;
  margin-bottom: 25px;
  width: 200px;
  color: #fff;
  background-color: #E95383;
  text-align: center;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  border-radius: 50px;
}

#top .score time span {
  color: #fff;
  font-size: 1.2rem;
}

#top .score__txt {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.08em;
}

#top .sns__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
}

#top .table__ttl {
  font-size: 18px;
}

#top .table th {
  padding: 5px 0;
  width: 70px;
  font-weight: bold;
}

#top .table td a {
  display: inline;
}

#top .sponser {
  position: relative;
  padding: 30px 0 70px;
  margin: 0 auto;
  max-width: 1000px;
}

#top .sponser__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#top .sponser__list {
  margin-right: 20px;
  width: 240px;
}

#top .sponser__list:last-child {
  margin-right: 0;
}

#academy .sub__ttl {
  padding: 15px;
  margin-bottom: 40px;
  width: 100%;
  border-radius: 6px;
  color: #FFF;
  background-color: #151A59;
  font-size: 20px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#academy .profile {
  margin: 30px auto 60px;
  width: 100%;
  max-width: 600px;
}

#academy .profile p, #academy .profile ul {
  margin-top: 30px;
}

#academy .profile li {
  padding-left: 3%;
  text-indent: -3%;
}

#academy .profile li::before {
  content: "・";
}

#academy .place {
  width: 100%;
}

#academy .place tr {
  border-bottom: solid 1px #A5A5A5;
}

#academy .place th {
  padding: 15px 0;
  width: 190px;
  font-weight: bold;
  vertical-align: top;
}

#academy .place td {
  display: block;
  margin: 15px 0;
  font-size: 16px;
}

#academy .place td a {
  color: #E95383;
  text-decoration: underline;
}

#academy .place td a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */